@import url('bootstrap/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* COLOR SCHEME
#fffbf7
#a41313
#00000 
*/

:root {
    /* --x: 0%; */
    --y: calc(var(--x) * 1vw / 1%);
    /* --navColor:#890a0a; */
    --navColor:#a41313;
    --navTextColor:#fffbf7;
    --textColor:black;
    --defaultWhite:#fffbf7;
    --colorTheme:#a41313;
    --navHoverColor:#f18e8e;
    --cream:#f8f0e3ff;
    --mainFont: 'Roboto', sans-serif;
    --defOpacity: 1;
    --titleFonts:"IBM Plex Serif", serif;
}

body {
    background-color: var(--cream);
    /* background-image: url('https://static.vecteezy.com/system/resources/previews/001/953/602/non_2x/abstract-wavy-red-backgound-free-vector.jpg'); */
    background-size: cover;
    background-attachment: fixed;
    font-family: var(--mainFont);
}