@import url('bootstrap/dist/css/bootstrap.min.css');
body {
    background-color: white;
}
@keyframes fadeInUp {
    from {
        opacity: 0.5;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.title, .description {
    animation: fadeInUp 2s;
}  